<!-- Parallax Section - Counter -->
                <div class="parallax-section parallax2">
                    <div class="wrap">
                        <section class="grid grid-pad callout">
                            <div class="col-1-3">
                                <div class="content" >
                                <div class="info-counter">
                                        <div class="info-counter-row">
                                            <i class="info-counter-icon icon-mug"></i>
                                        </div>
                                        <div class="info-counter-content">
                                            <h5 class="info-counter-number">
                                            <span class="counter">55</span>
                                            <span class="info-counter-units">Cups</span>
                                            </h5>
                                        <div class="info-counter-text">Average weekly coffee drank</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1-3">
                                <div class="content" >
                                <div class="info-counter">
                                        <div class="info-counter-row">
                                            <i class="info-counter-icon icon-embed"></i>
                                        </div>
                                        <div class="info-counter-content">
                                            <h5 class="info-counter-number">
                                            <span class="counter">9000</span>
                                            <span class="info-counter-units">Lines</span>
                                            </h5>
                                        <div class="info-counter-text">Average weekly lines of code</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-1-3">
                                <div class="content" >
                                <div class="info-counter">
                                        <div class="info-counter-row">
                                            <i class="info-counter-icon icon-trophy"></i>
                                        </div>
                                        <div class="info-counter-content">
                                            <h5 class="info-counter-number">
                                            <span class="counter">400</span>
                                            <span class="info-counter-units">Customers</span>
                                            </h5>
                                        <div class="info-counter-text">Average yearly happy clients</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- End Parallax Section -->