 <!-- CurveUp -->
                <svg class="curveUpColor curveGrey" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
                </svg>

                <!-- Team Section -->
                <div class="wrap team-wrap grey" id="team">
                    <div class="grid grid-pad">
                        <div class="content" >
                            <h2>Our Team</h2>
                            <div class="col-1-4" >
                                <div class="content staff-content">
                                    <div class="recent-work staff-img">
                                        <div class="img-wrap staff-img">
                                            <img src="/staticfiles/images/team/user2.png" alt="">
                                            <div class="team-social">
                                                <a class="sl-fb" href="#"><i class="icon-facebook"></i></a>
                                                <a class="sl-tw" href="#"><i class="icon-twitter"></i></a>
                                                <a class="sl-gp" href="#"><i class="icon-googleplus2"></i></a>
                                                <a class="sl-ln" href="#"><i class="icon-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="work-info staff-info">
                                            <h5>Tim Malkovic</h5>
                                            <span>CEO</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1-4" >
                                <div class="content staff-content">
                                    <div class="recent-work staff-img">
                                        <div class="img-wrap staff-img">
                                            <img src="/staticfiles/images/team/user1.png" alt="">
                                            <div class="team-social">
                                                <a class="sl-fb" href="#"><i class="icon-facebook"></i></a>
                                                <a class="sl-tw" href="#"><i class="icon-twitter"></i></a>
                                                <a class="sl-gp" href="#"><i class="icon-googleplus2"></i></a>
                                                <a class="sl-ln" href="#"><i class="icon-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="work-info staff-info">
                                            <h5>David Bell</h5>
                                            <span>Creative Designer</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-1-4" >
                                <div class="content staff-content">
                                    <div class="recent-work staff-img">
                                        <div class="img-wrap staff-img">
                                            <img src="/staticfiles/images/team/user3.png" alt="">
                                            <div class="team-social">
                                                <a class="sl-fb" href="#"><i class="icon-facebook"></i></a>
                                                <a class="sl-tw" href="#"><i class="icon-twitter"></i></a>
                                                <a class="sl-gp" href="#"><i class="icon-googleplus2"></i></a>
                                                <a class="sl-ln" href="#"><i class="icon-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="work-info staff-info">
                                            <h5>Eve Stinger</h5>
                                            <span>Sales Manager</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-1-4" >
                                <div class="content staff-content">
                                    <div class="recent-work staff-img">
                                        <div class="img-wrap staff-img">
                                            <img src="/staticfiles/images/team/user4.png" alt="">
                                            <div class="team-social">
                                                <a class="sl-fb" href="#"><i class="icon-facebook"></i></a>
                                                <a class="sl-tw" href="#"><i class="icon-twitter"></i></a>
                                                <a class="sl-gp" href="#"><i class="icon-googleplus2"></i></a>
                                                <a class="sl-ln" href="#"><i class="icon-linkedin"></i></a>
                                            </div>
                                        </div>
                                        <div class="work-info staff-info">
                                            <h5>Will Peters</h5>
                                            <span>Developer</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Team Section -->

                <!-- CurveUp -->
                <svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
                </svg>
