<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Bellary</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/staticfiles/css/reset.css">
    <link rel="stylesheet" href="/staticfiles/css/simplegrid.css">
    <link rel="stylesheet" href="/staticfiles/css/icomoon.css">
    <link rel="stylesheet" href="/staticfiles/css/style.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body id="home">
<!-- Header -->
<header id="top-header" class="header-home">
    <div class="grid">
        <div class="col-1-1">
            <div class="content">
                <div class="logo-wrap">
                    <a href="{% url 'home' %}" class="logo">Bellary</a>
                </div>
                <nav class="navigation">
                    <input type="checkbox" id="nav-button">
                    <label for="nav-button" onclick></label>
                    <ul class="nav-container">
                        <li><a href="{% url 'gallery' %}">Gallery</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'upload' %}">Upload</a></li>
                        {% endif %}
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        {% if not request.user.is_authenticated %}
                            <li id="login"><a href="{% url 'login' %}">Login</a></li>
                            <li id="signup"><a href="{% url 'signup' %}">Sign Up</a></li>
                        {% else %}
                            <li id="profile"><a href="{% url 'profile' %}">Profile</a></li>
                            <li id="logout"><a href="{% url 'logout' %}">Log Out</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->

<!-- Parallax Section -->
<div class="parallax-section parallax1">
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="content content-header">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<!-- End Parallax Section -->

<!-- Parallax Section -->
<div id="google-container"></div>
<div id="cd-zoom-in"></div>
<div id="cd-zoom-out"></div>
<!-- End Parallax Section -->

<!-- Footer -->
<footer class="wrap">
    <div class="social-footer">
        <div class="social-set">
            <a target="_blank" href="https://www.facebook.com/nikolay.tswetanow"><i class="icon-facebook"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/nikolay-tsvetanov-605876235/"><i
                    class="icon-linkedin2"></i></a>
            <a target="_blank" href="https://www.instagram.com/kolecaa/"><i class="icon-instagram"></i></a>
        </div>
        <p class="source-org copyright">Nikolay Tsvetanov | © 2022</p>
    </div>
</footer>
<!-- End Footer -->

<div class="loader-overlay">
    <div class="loader">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>

<!-- JS -->
<script src="/staticfiles/js/jquery.js"></script>
<script src="/staticfiles/js/main.js"></script>
<script src="/staticfiles/js/mixitup.js"></script>
<script src="/staticfiles/js/smoothscroll.js"></script>
<script src="/staticfiles/js/jquery.nav.js"></script>
<script src="/staticfiles/js/owl-carousel/owl.carousel.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="/staticfiles/js/jquery.counterup.min.js"></script>
<script src="/staticfiles/js/lightcase.min.js"></script>
</body>
</html>